<!--div class="section group" ng-repeat="type in types"-->
<div class="section group">
    <!--p class="divider">{{type}}</p-->
    <ul>
        <!--li ng-repeat="item in data.posts | filter:deepFilter(type)"-->
        <li ng-repeat="item in data.posts | orderBy:machinedate:true">
            <div class="col-item" ng-class-odd="'cleft'" ng-class-even="'cright'">
                <div class="post">
                    <p class="date">{{item.date}}</p>
                    <a href="{{item.link}}">
                        <h2 class="post-header">{{item.title}}</h2>
                    </a>
                    <p>{{item.description}}</p>
                    <a class="pull-right" href="{{item.link}}">
                        <span class="arrow">read more</span>
                    </a>
                    <!-- → -->
                </div>
            </div>
        </li>
    </ul>
</div>